@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes slideInleft {
  from {
    transform: translateX(-800px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideInright {
  from {
    transform: translateX(800px);
  }

  to {
    transform: translateX(0);
  }
}

.block1 {
  animation: slideInleft 2s ease-in 0.7s both;
}
.block2 {
  animation: slideInright 1s ease-in 1s both;
}
